IMPORTING LIBRARIES

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder
from datetime import datetime

LOADING DATASET

In [3]:
x_train = pd.read_csv("C:/Users/User/Downloads/Credit Card Fraud  Dataset/fraudTrain.csv")
x_test = pd.read_csv("C:/Users/User/Downloads/Credit Card Fraud  Dataset/fraudTest.csv")

CHECKING FOR BOTH MISSING AND DUPLICATE DATA

In [4]:
x_train.isnull().sum()
x_test.isnull().sum()
x_train.duplicated().sum()
x_test.duplicated().sum()

np.int64(0)

ENCODING CATEGORICAL FEATURES

In [5]:
x_train['job'] = x_train['job'].astype('category')
x_test['job'] = x_test['job'].astype('category')

x_train['job'] = x_train['job'].cat.codes
x_test['job'] = x_test['job'].cat.codes

In [6]:
le_gen = LabelEncoder()
x_train['gender'] = le_gen.fit_transform(x_train['gender'])
x_test['gender'] = le_gen.transform(x_test['gender'])

In [7]:
print(x_train.head())
print(x_test.head)

   Unnamed: 0 trans_date_trans_time            cc_num  \
0           0   2019-01-01 00:00:18  2703186189652095
1           1   2019-01-01 00:00:44      630423337322
2           2   2019-01-01 00:00:51    38859492057661
3           3   2019-01-01 00:01:16  3534093764340240
4           4   2019-01-01 00:03:06   375534208663984

                             merchant       category     amt      first  \
0          fraud_Rippin, Kub and Mann       misc_net    4.97   Jennifer
1     fraud_Heller, Gutmann and Zieme    grocery_pos  107.23  Stephanie
2                fraud_Lind-Buckridge  entertainment  220.11     Edward
3  fraud_Kutch, Hermiston and Farrell  gas_transport   45.00     Jeremy
4                 fraud_Keeling-Crist       misc_pos   41.96      Tyler

      last  gender                        street  ...      lat      long  \
0    Banks       0                561 Perry Cove  ...  36.0788  -81.1781
1     Gill       0  43039 Riley Greens Suite 393  ...  48.8878 -118.2105
2  Sanchez       1      594 White Dale Suite 530  ...  42.1808 -112.2620
3    White       1   9443 Cynthia Court Apt. 038  ...  46.2306 -112.1138
4   Garcia       1              408 Bradley Rest  ...  38.4207  -79.4629

   city_pop  job         dob                         trans_num   unix_time  \
0      3495  370  1988-03-09  0b242abb623afc578575680df30655b9  1325376018
1       149  428  1978-06-21  1f76529f8574734946361c461b024d99  1325376044
2      4154  307  1962-01-19  a1a22d70485983eac12b5b88dad1cf95  1325376051
3      1939  328  1967-01-12  6b849c168bdad6f867558c3793159a81  1325376076
4        99  116  1986-03-28  a41d7549acf90789359a9aa5346dcb46  1325376186

   merch_lat  merch_long  is_fraud
0  36.011293  -82.048315         0
1  49.159047 -118.186462         0
2  43.150704 -112.154481         0
3  47.034331 -112.561071         0
4  38.674999  -78.632459         0

[5 rows x 23 columns]
<bound method NDFrame.head of         Unnamed: 0 trans_date_trans_time            cc_num  \
0                0   2020-06-21 12:14:25  2291163933867244
1                1   2020-06-21 12:14:33  3573030041201292
2                2   2020-06-21 12:14:53  3598215285024754
3                3   2020-06-21 12:15:15  3591919803438423
4                4   2020-06-21 12:15:17  3526826139003047
...            ...                   ...               ...
555714      555714   2020-12-31 23:59:07    30560609640617
555715      555715   2020-12-31 23:59:09  3556613125071656
555716      555716   2020-12-31 23:59:15  6011724471098086
555717      555717   2020-12-31 23:59:24     4079773899158
555718      555718   2020-12-31 23:59:34  4170689372027579

                                    merchant        category     amt    first  \
0                      fraud_Kirlin and Sons   personal_care    2.86     Jeff
1                       fraud_Sporer-Keebler   personal_care   29.84   Joanne
2       fraud_Swaniawski, Nitzsche and Welch  health_fitness   41.28   Ashley
3                          fraud_Haley Group        misc_pos   60.05    Brian
4                      fraud_Johnston-Casper          travel    3.19   Nathan
...                                      ...             ...     ...      ...
555714                 fraud_Reilly and Sons  health_fitness   43.77  Michael
555715                  fraud_Hoppe-Parisian       kids_pets  111.84     Jose
555716                       fraud_Rau-Robel       kids_pets   86.88      Ann
555717                 fraud_Breitenberg LLC          travel    7.99     Eric
555718                     fraud_Dare-Marvin   entertainment   38.13   Samuel

            last  gender                       street  ...      lat      long  \
0        Elliott       1            351 Darlene Green  ...  33.9659  -80.9355
1       Williams       0             3638 Marsh Union  ...  40.3207 -110.4360
2          Lopez       0         9333 Valentine Point  ...  40.6729  -73.5365
3       Williams       1  32941 Krystal Mill Apt. 552  ...  28.5697  -80.8191
4         Massey       1     5783 Evan Roads Apt. 465  ...  44.2529  -85.0170
...          ...     ...                          ...  ...      ...       ...
555714     Olson       1          558 Michael Estates  ...  40.4931  -91.8912
555715   Vasquez       1          572 Davis Mountains  ...  29.0393  -95.4401
555716    Lawson       0   144 Evans Islands Apt. 683  ...  46.1966 -118.9017
555717   Preston       1   7020 Doyle Stream Apt. 951  ...  44.6255 -116.4493
555718      Frey       1     830 Myers Plaza Apt. 384  ...  35.6665  -97.4798

        city_pop  job         dob                         trans_num  \
0         333497  275  1968-03-19  2da90c7d74bd46a0caf3777415b3ebd3
1            302  392  1990-01-17  324cc204407e99f51b0d6ca0055005e7
2          34496  259  1970-10-21  c81755dbbbea9d5c77f094348a7579be
3          54767  407  1987-07-25  2159175b9efe66dc301f149d3d5abf8c
4           1126  196  1955-07-06  57ff021bd3f328f8738bb535c302a31b
...          ...  ...         ...                               ...
555714       519  460  1966-02-13  9b1f753c79894c9f4b71f04581835ada
555715     28739  198  1999-12-27  2090647dac2c89a1d86c514c427f5b91
555716      3684  294  1981-11-29  6c5b7c8add471975aa0fec023b2e8408
555717       129   58  1965-12-15  14392d723bb7737606b2700ac791b7aa
555718    116001  276  1993-05-10  1765bb45b3aa3224b4cdcb6e7a96cee3

         unix_time  merch_lat  merch_long  is_fraud
0       1371816865  33.986391  -81.200714         0
1       1371816873  39.450498 -109.960431         0
2       1371816893  40.495810  -74.196111         0
3       1371816915  28.812398  -80.883061         0
4       1371816917  44.959148  -85.884734         0
...            ...        ...         ...       ...
555714  1388534347  39.946837  -91.333331         0
555715  1388534349  29.661049  -96.186633         0
555716  1388534355  46.658340 -119.715054         0
555717  1388534364  44.470525 -117.080888         0
555718  1388534374  36.210097  -97.036372         0

[555719 rows x 23 columns]>

In [8]:
print(x_train.shape)
print(x_test.shape)

print(x_train.head())
print(x_test.head())

(1296675, 23)
(555719, 23)
   Unnamed: 0 trans_date_trans_time            cc_num  \
0           0   2019-01-01 00:00:18  2703186189652095
1           1   2019-01-01 00:00:44      630423337322
2           2   2019-01-01 00:00:51    38859492057661
3           3   2019-01-01 00:01:16  3534093764340240
4           4   2019-01-01 00:03:06   375534208663984

                             merchant       category     amt      first  \
0          fraud_Rippin, Kub and Mann       misc_net    4.97   Jennifer
1     fraud_Heller, Gutmann and Zieme    grocery_pos  107.23  Stephanie
2                fraud_Lind-Buckridge  entertainment  220.11     Edward
3  fraud_Kutch, Hermiston and Farrell  gas_transport   45.00     Jeremy
4                 fraud_Keeling-Crist       misc_pos   41.96      Tyler

      last  gender                        street  ...      lat      long  \
0    Banks       0                561 Perry Cove  ...  36.0788  -81.1781
1     Gill       0  43039 Riley Greens Suite 393  ...  48.8878 -118.2105
2  Sanchez       1      594 White Dale Suite 530  ...  42.1808 -112.2620
3    White       1   9443 Cynthia Court Apt. 038  ...  46.2306 -112.1138
4   Garcia       1              408 Bradley Rest  ...  38.4207  -79.4629

   city_pop  job         dob                         trans_num   unix_time  \
0      3495  370  1988-03-09  0b242abb623afc578575680df30655b9  1325376018
1       149  428  1978-06-21  1f76529f8574734946361c461b024d99  1325376044
2      4154  307  1962-01-19  a1a22d70485983eac12b5b88dad1cf95  1325376051
3      1939  328  1967-01-12  6b849c168bdad6f867558c3793159a81  1325376076
4        99  116  1986-03-28  a41d7549acf90789359a9aa5346dcb46  1325376186

   merch_lat  merch_long  is_fraud
0  36.011293  -82.048315         0
1  49.159047 -118.186462         0
2  43.150704 -112.154481         0
3  47.034331 -112.561071         0
4  38.674999  -78.632459         0

[5 rows x 23 columns]
   Unnamed: 0 trans_date_trans_time            cc_num  \
0           0   2020-06-21 12:14:25  2291163933867244
1           1   2020-06-21 12:14:33  3573030041201292
2           2   2020-06-21 12:14:53  3598215285024754
3           3   2020-06-21 12:15:15  3591919803438423
4           4   2020-06-21 12:15:17  3526826139003047

                               merchant        category    amt   first  \
0                 fraud_Kirlin and Sons   personal_care   2.86    Jeff
1                  fraud_Sporer-Keebler   personal_care  29.84  Joanne
2  fraud_Swaniawski, Nitzsche and Welch  health_fitness  41.28  Ashley
3                     fraud_Haley Group        misc_pos  60.05   Brian
4                 fraud_Johnston-Casper          travel   3.19  Nathan

       last  gender                       street  ...      lat      long  \
0   Elliott       1            351 Darlene Green  ...  33.9659  -80.9355
1  Williams       0             3638 Marsh Union  ...  40.3207 -110.4360
2     Lopez       0         9333 Valentine Point  ...  40.6729  -73.5365
3  Williams       1  32941 Krystal Mill Apt. 552  ...  28.5697  -80.8191
4    Massey       1     5783 Evan Roads Apt. 465  ...  44.2529  -85.0170

   city_pop  job         dob                         trans_num   unix_time  \
0    333497  275  1968-03-19  2da90c7d74bd46a0caf3777415b3ebd3  1371816865
1       302  392  1990-01-17  324cc204407e99f51b0d6ca0055005e7  1371816873
2     34496  259  1970-10-21  c81755dbbbea9d5c77f094348a7579be  1371816893
3     54767  407  1987-07-25  2159175b9efe66dc301f149d3d5abf8c  1371816915
4      1126  196  1955-07-06  57ff021bd3f328f8738bb535c302a31b  1371816917

   merch_lat  merch_long  is_fraud
0  33.986391  -81.200714         0
1  39.450498 -109.960431         0
2  40.495810  -74.196111         0
3  28.812398  -80.883061         0
4  44.959148  -85.884734         0

[5 rows x 23 columns]

FEATURE SCALING

In [9]:
scaler = StandardScaler()
numeric_columns = ['amt', 'lat', 'long', 'city_pop','unix_time']

existing_numeric_columns = [col for col in numeric_columns if col in x_train.columns]
x_train[existing_numeric_columns] = scaler.fit_transform(x_train[existing_numeric_columns])
x_test[existing_numeric_columns] = scaler.transform(x_test[existing_numeric_columns])

print(x_train[existing_numeric_columns].mean(), x_train[numeric_columns].std())
print(x_train.head())

amt         -9.447052e-18
lat         -3.796575e-16
long        -4.366253e-15
city_pop    -1.350753e-18
unix_time   -2.571352e-15
dtype: float64 amt          1.0
lat          1.0
long         1.0
city_pop     1.0
unix_time    1.0
dtype: float64
   Unnamed: 0 trans_date_trans_time            cc_num  \
0           0   2019-01-01 00:00:18  2703186189652095
1           1   2019-01-01 00:00:44      630423337322
2           2   2019-01-01 00:00:51    38859492057661
3           3   2019-01-01 00:01:16  3534093764340240
4           4   2019-01-01 00:03:06   375534208663984

                             merchant       category       amt      first  \
0          fraud_Rippin, Kub and Mann       misc_net -0.407826   Jennifer
1     fraud_Heller, Gutmann and Zieme    grocery_pos  0.230039  Stephanie
2                fraud_Lind-Buckridge  entertainment  0.934149     Edward
3  fraud_Kutch, Hermiston and Farrell  gas_transport -0.158132     Jeremy
4                 fraud_Keeling-Crist       misc_pos -0.177094      Tyler

      last  gender                        street  ...       lat      long  \
0    Banks       0                561 Perry Cove  ... -0.484420  0.657620
1     Gill       0  43039 Riley Greens Suite 393  ...  2.039120 -2.033870
2  Sanchez       1      594 White Dale Suite 530  ...  0.717754 -1.601537
3    White       1   9443 Cynthia Court Apt. 038  ...  1.515617 -1.590766
4   Garcia       1              408 Bradley Rest  ... -0.023035  0.782279

   city_pop  job         dob                         trans_num  unix_time  \
0 -0.282589  370  1988-03-09  0b242abb623afc578575680df30655b9  -1.858664
1 -0.293670  428  1978-06-21  1f76529f8574734946361c461b024d99  -1.858662
2 -0.280406  307  1962-01-19  a1a22d70485983eac12b5b88dad1cf95  -1.858662
3 -0.287742  328  1967-01-12  6b849c168bdad6f867558c3793159a81  -1.858660
4 -0.293835  116  1986-03-28  a41d7549acf90789359a9aa5346dcb46  -1.858651

   merch_lat  merch_long  is_fraud
0  36.011293  -82.048315         0
1  49.159047 -118.186462         0
2  43.150704 -112.154481         0
3  47.034331 -112.561071         0
4  38.674999  -78.632459         0

[5 rows x 23 columns]

In [10]:
columns_to_drop = ['Unnamed: 0', 'cc_num', 'street', 'city', 'state', 'zip']
x_train = x_train.drop(columns=[col for col in columns_to_drop if col in x_train.columns])
x_test = x_test.drop(columns=[col for col in columns_to_drop if col in x_test.columns])

print("Updated X_train shape:", x_train.shape)
print("Updated X_test shape:", x_test.shape)
print(x_train.head())

Updated X_train shape: (1296675, 17)
Updated X_test shape: (555719, 17)
  trans_date_trans_time                            merchant       category  \
0   2019-01-01 00:00:18          fraud_Rippin, Kub and Mann       misc_net
1   2019-01-01 00:00:44     fraud_Heller, Gutmann and Zieme    grocery_pos
2   2019-01-01 00:00:51                fraud_Lind-Buckridge  entertainment
3   2019-01-01 00:01:16  fraud_Kutch, Hermiston and Farrell  gas_transport
4   2019-01-01 00:03:06                 fraud_Keeling-Crist       misc_pos

        amt      first     last  gender       lat      long  city_pop  job  \
0 -0.407826   Jennifer    Banks       0 -0.484420  0.657620 -0.282589  370
1  0.230039  Stephanie     Gill       0  2.039120 -2.033870 -0.293670  428
2  0.934149     Edward  Sanchez       1  0.717754 -1.601537 -0.280406  307
3 -0.158132     Jeremy    White       1  1.515617 -1.590766 -0.287742  328
4 -0.177094      Tyler   Garcia       1 -0.023035  0.782279 -0.293835  116

          dob                         trans_num  unix_time  merch_lat  \
0  1988-03-09  0b242abb623afc578575680df30655b9  -1.858664  36.011293
1  1978-06-21  1f76529f8574734946361c461b024d99  -1.858662  49.159047
2  1962-01-19  a1a22d70485983eac12b5b88dad1cf95  -1.858662  43.150704
3  1967-01-12  6b849c168bdad6f867558c3793159a81  -1.858660  47.034331
4  1986-03-28  a41d7549acf90789359a9aa5346dcb46  -1.858651  38.674999

   merch_long  is_fraud
0  -82.048315         0
1 -118.186462         0
2 -112.154481         0
3 -112.561071         0
4  -78.632459         0

In [11]:
print(x_train.dtypes)

trans_date_trans_time     object
merchant                  object
category                  object
amt                      float64
first                     object
last                      object
gender                     int64
lat                      float64
long                     float64
city_pop                 float64
job                        int16
dob                       object
trans_num                 object
unix_time                float64
merch_lat                float64
merch_long               float64
is_fraud                   int64
dtype: object

In [12]:
x_train = x_train.drop(columns=['dob', 'trans_num'])
x_test =  x_test.drop(columns=['dob', 'trans_num'])

print(x_train.dtypes)

trans_date_trans_time     object
merchant                  object
category                  object
amt                      float64
first                     object
last                      object
gender                     int64
lat                      float64
long                     float64
city_pop                 float64
job                        int16
unix_time                float64
merch_lat                float64
merch_long               float64
is_fraud                   int64
dtype: object

In [13]:
categorical_columns = ['merchant', 'category', 'job']

for col in categorical_columns:
    le = LabelEncoder()
    x_train[col] = le.fit_transform(x_train[col])
    x_test[col] = le.transform(x_test[col])

columns_to_drop = ['first','last','trans_date_trans_time']
x_train = x_train.drop([col for col in columns_to_drop if col in x_train.columns], axis =1)
x_test = x_test.drop([col for col in columns_to_drop if col in x_test.columns], axis = 1)
print(x_train.head)

<bound method NDFrame.head of          merchant  category       amt  gender       lat      long  city_pop  \
0             514         8 -0.407826       0 -0.484420  0.657620 -0.282589
1             241         4  0.230039       0  2.039120 -2.033870 -0.293670
2             390         0  0.934149       1  0.717754 -1.601537 -0.280406
3             360         2 -0.158132       1  1.515617 -1.590766 -0.287742
4             297         9 -0.177094       1 -0.023035  0.782279 -0.293835
...           ...       ...       ...     ...       ...       ...       ...
1296670       499         0 -0.341769       1 -0.161575 -1.617214 -0.293309
1296671         2         1 -0.116339       1  0.143638  0.924207 -0.293832
1296672       599         1  0.221930       1 -1.102883 -1.133257 -0.291186
1296673       509         1  0.028375       1  0.948613 -0.895029 -0.290434
1296674       370         1 -0.412005       1  1.439314 -1.718754 -0.293441

         job  unix_time  merch_lat  merch_long  is_fraud
0        370  -1.858664  36.011293  -82.048315         0
1        428  -1.858662  49.159047 -118.186462         0
2        307  -1.858662  43.150704 -112.154481         0
3        328  -1.858660  47.034331 -112.561071         0
4        116  -1.858651  38.674999  -78.632459         0
...      ...        ...        ...         ...       ...
1296670  215   1.757855  36.841266 -111.690765         0
1296671  360   1.757855  38.906881  -78.246528         0
1296672  308   1.757856  33.619513 -105.130529         0
1296673  485   1.757861  42.788940 -103.241160         0
1296674  467   1.757862  46.565983 -114.186110         0

[1296675 rows x 12 columns]>

In [14]:
print(x_train.isnull().sum())
print(x_test.isnull().sum())

merchant      0
category      0
amt           0
gender        0
lat           0
long          0
city_pop      0
job           0
unix_time     0
merch_lat     0
merch_long    0
is_fraud      0
dtype: int64
merchant      0
category      0
amt           0
gender        0
lat           0
long          0
city_pop      0
job           0
unix_time     0
merch_lat     0
merch_long    0
is_fraud      0
dtype: int64

SPLITTING THE DATASET

In [15]:
y_train = x_train['is_fraud']
y_test = x_test['is_fraud']

x_train = x_train.drop(columns=['is_fraud'])
x_test = x_test.drop(columns=['is_fraud'])

print("X_train shape:", x_train.shape)
print("Y_train shape:", y_train.shape)
print("X_test shape:", x_test.shape)
print("Y_test shape:", y_test.shape)

X_train shape: (1296675, 11)
Y_train shape: (1296675,)
X_test shape: (555719, 11)
Y_test shape: (555719,)

RANDOM FOREST MDOEL

In [16]:
binary_columns = x_train.columns[x_train.nunique()== 2]
print(binary_columns)

Index(['gender'], dtype='object')

In [17]:
rf_model = RandomForestClassifier(n_estimators=100, random_state = 42, class_weight = 'balanced')


rf_model.fit(x_train, y_train)

y_pred = rf_model.predict(x_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy * 100:.4f}")

Accuracy: 99.6939

In [18]:
print("\nClassification Report:\n", classification_report(y_test, y_pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_test,y_pred))

Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00    553574
           1       0.97      0.21      0.35      2145

    accuracy                           1.00    555719
   macro avg       0.98      0.61      0.67    555719
weighted avg       1.00      1.00      1.00    555719


Confusion Matrix:
 [[553559     15]
 [  1686    459]]